Repository softlayer/softlayer-python, pull requests merged in 2019-04, with the labels that each got.

#1128 #872 column 'name' was renamed to 'hostname'
  SoftLayer/CLI/report/bandwidth.py
  tests/CLI/modules/report_tests.py
Labels: CLI

#1125 Issues1100 - Event Log Improvements
  SoftLayer/API.py
  SoftLayer/CLI/call_api.py
  SoftLayer/CLI/event_log/get.py
  SoftLayer/managers/event_log.py
  SoftLayer/managers/network.py
  docs/api/managers/event_log.rst
  docs/cli.rst
  docs/cli/call_api.rst
  docs/cli/event_log.rst
  tests/CLI/modules/event_log_tests.py
  tests/managers/event_log_tests.py
  tests/managers/network_tests.py
Labels: CLI, Core

#1134 Change encrypt parameters for importing of images.
  SoftLayer/CLI/image/import.py
  SoftLayer/managers/image.py
  tests/managers/image_tests.py
Labels: CLI

#1133 #1129 Fixed unexpected errors in slcli subnet create
  SoftLayer/CLI/subnet/create.py
  SoftLayer/managers/network.py
  tests/CLI/modules/subnet_tests.py
  tests/managers/network_tests.py
Labels: Bug, CLI

#1132 Fix object storage credentials.
  SoftLayer/CLI/object_storage/credential/__init__.py
  SoftLayer/CLI/object_storage/credential/create.py
  SoftLayer/CLI/object_storage/credential/delete.py
  SoftLayer/CLI/object_storage/credential/limit.py
  SoftLayer/CLI/object_storage/credential/list.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Network_Storage_Hub_Cleversafe_Account.py
  SoftLayer/managers/object_storage.py
  tests/CLI/modules/object_storage_tests.py
  tests/managers/object_storage_tests.py
Labels: CLI, Storage

#1136 Ordering doc updates - Quote ordering
  SoftLayer/CLI/order/category_list.py
  SoftLayer/CLI/order/item_list.py
  SoftLayer/CLI/order/package_list.py
  SoftLayer/CLI/order/place.py
  SoftLayer/CLI/order/place_quote.py
  SoftLayer/CLI/order/preset_list.py
  SoftLayer/CLI/order/quote.py
  SoftLayer/CLI/order/quote_detail.py
  SoftLayer/CLI/order/quote_list.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Billing_Order_Quote.py
  SoftLayer/managers/ordering.py
  docs/api/client.rst
  docs/cli/hardware.rst
  docs/cli/ordering.rst
  tests/CLI/modules/order_tests.py
  tests/managers/ordering_tests.py
Labels: CLI, Ordering

#1138 #1131 made sure config_tests dont actually try to make api calls
  tests/CLI/modules/config_tests.py
Labels: Bug
