Repository softlayer/softlayer-python, pull requests merged in 2019-03, with the labels that each got.

#1111 Fixed docs about placement groups
  CHANGELOG.md
  SoftLayer/CLI/virt/placementgroup/create.py
  SoftLayer/CLI/virt/placementgroup/create_options.py
  SoftLayer/CLI/virt/placementgroup/list.py
Labels: Documentation

#1114 File storage endurance iops upgrade .
  SoftLayer/managers/storage_utils.py
Labels: CLI

#1115 Handle the new user creation exceptions
  SoftLayer/managers/user.py
  tests/managers/user_tests.py
Labels: CLI

#1119 Fix order place quantity option
  SoftLayer/CLI/order/place.py
  SoftLayer/managers/ordering.py
  tests/CLI/modules/order_tests.py
  tests/managers/ordering_tests.py
Labels: CLI

#1120 Invoice and event CLI
  SoftLayer/CLI/account/__init__.py
  SoftLayer/CLI/account/event_detail.py
  SoftLayer/CLI/account/events.py
  SoftLayer/CLI/account/invoice_detail.py
  SoftLayer/CLI/account/invoices.py
  SoftLayer/CLI/account/summary.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Billing_Invoice.py
  SoftLayer/fixtures/SoftLayer_Notification_Occurrence_Event.py
  SoftLayer/managers/account.py
  SoftLayer/utils.py
  docs/api/managers/account.rst
  docs/cli.rst
  docs/cli/account.rst
  tests/CLI/modules/account_tests.py
  tests/CLI/modules/event_log_tests.py
  tests/CLI/modules/securitygroup_tests.py
  tests/CLI/modules/vs/vs_create_tests.py
  tests/managers/account_tests.py
Labels: CLI, New Feature

#1123 Fix object storage apiType for S3 and Swift.
  SoftLayer/CLI/object_storage/list_accounts.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/managers/object_storage.py
  tests/CLI/modules/object_storage_tests.py
Labels: CLI
