Repository softlayer/softlayer-python, pull requests merged in 2019-12, with the labels that each got.

#1189 Issues771 - Fixing windows Unicode Errors
  SoftLayer/CLI/environment.py
  tests/CLI/environment_tests.py
Labels: Bug

#1193 Fix order vs dedicated.
  SoftLayer/managers/ordering.py
  tests/managers/ordering_tests.py
Labels: Bug, Ordering

#1196 Fix quote file storage.
  SoftLayer/managers/ordering.py
  tests/managers/ordering_tests.py
Labels: CLI, Ordering

#1194 Fix hardware detail bandwidth allocation.
  SoftLayer/CLI/hardware/detail.py
  SoftLayer/managers/hardware.py
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: Bug

#1197 5.8.3 changelog
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release

#1201 fixing new flask8 errors that show up out of nowhere
  SoftLayer/__init__.py
  SoftLayer/shell/core.py
  SoftLayer/testing/xmlrpc.py
  tests/CLI/helper_tests.py
  tests/managers/hardware_tests.py
  tests/managers/vs/vs_capacity_tests.py
Labels: Core

#1202 Order a virtual server private.
  SoftLayer/managers/ordering.py
Labels: CLI, Ordering

#1200 Fix block storage failback and failover.
  SoftLayer/CLI/block/replication/failback.py
  SoftLayer/CLI/block/replication/failover.py
  SoftLayer/managers/block.py
  tests/CLI/modules/block_tests.py
  tests/managers/block_tests.py
Labels: CLI

#1203 v5.8.4 release
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release

#1206 Fix issue where the summary command fails due to None being provided as the datacenter name.
  SoftLayer/CLI/core.py
  SoftLayer/CLI/summary.py
Labels: Bug
