Repository softlayer/softlayer-python, pull requests merged in 2019-09, with the labels that each got.

#1167 New Feature: Loadbalancers
  SoftLayer/CLI/loadbal/__init__.py
  SoftLayer/CLI/loadbal/cancel.py
  SoftLayer/CLI/loadbal/create.py
  SoftLayer/CLI/loadbal/create_options.py
  SoftLayer/CLI/loadbal/detail.py
  SoftLayer/CLI/loadbal/group_add.py
  SoftLayer/CLI/loadbal/group_delete.py
  SoftLayer/CLI/loadbal/group_edit.py
  SoftLayer/CLI/loadbal/group_reset.py
  SoftLayer/CLI/loadbal/health.py
  SoftLayer/CLI/loadbal/health_checks.py
  SoftLayer/CLI/loadbal/list.py
  SoftLayer/CLI/loadbal/members.py
  SoftLayer/CLI/loadbal/ns_detail.py
  SoftLayer/CLI/loadbal/ns_list.py
  SoftLayer/CLI/loadbal/order.py
  SoftLayer/CLI/loadbal/pools.py
  SoftLayer/CLI/loadbal/routing_methods.py
  SoftLayer/CLI/loadbal/routing_types.py
  SoftLayer/CLI/loadbal/service_add.py
  SoftLayer/CLI/loadbal/service_delete.py
  SoftLayer/CLI/loadbal/service_edit.py
  SoftLayer/CLI/loadbal/service_toggle.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Network_Application_Delivery_Controller.py
  SoftLayer/fixtures/SoftLayer_Network_LBaaS_HealthMonitor.py
  SoftLayer/fixtures/SoftLayer_Network_LBaaS_L7Pool.py
  SoftLayer/fixtures/SoftLayer_Network_LBaaS_Listener.py
  SoftLayer/fixtures/SoftLayer_Network_LBaaS_LoadBalancer.py
  SoftLayer/fixtures/SoftLayer_Network_LBaaS_Member.py
  SoftLayer/fixtures/SoftLayer_Product_Package.py
  SoftLayer/managers/cdn.py
  SoftLayer/managers/load_balancer.py
  SoftLayer/utils.py
  docs/cli/loadbal.rst
  tests/CLI/modules/loadbal_tests.py
  tests/managers/loadbal_tests.py
  tests/managers/network_tests.py
Labels: New Feature

#1168 Version to 5.8.0
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
  snap/snapcraft.yaml
Labels: Core

#1169 Drop python2.7 support
  .travis.yml
  README.rst
  SoftLayer/API.py
  SoftLayer/CLI/config/setup.py
  SoftLayer/CLI/core.py
  SoftLayer/CLI/deprecated.py
  SoftLayer/CLI/formatting.py
  SoftLayer/CLI/report/bandwidth.py
  SoftLayer/CLI/template.py
  SoftLayer/config.py
  SoftLayer/shell/core.py
  SoftLayer/testing/__init__.py
  SoftLayer/testing/xmlrpc.py
  SoftLayer/transports.py
  SoftLayer/utils.py
  setup.py
  tests/CLI/core_tests.py
  tests/CLI/deprecated_tests.py
  tests/CLI/helper_tests.py
  tests/CLI/modules/call_api_tests.py
  tests/config_tests.py
  tests/transport_tests.py
  tools/requirements.txt
  tools/test-requirements.txt
  tox.ini
Labels: Core

#1173 Fix issues introduced with pylint 2.4.0
  SoftLayer/CLI/core.py
  SoftLayer/CLI/deprecated.py
  SoftLayer/CLI/firewall/edit.py
  SoftLayer/CLI/loadbal/pools.py
  SoftLayer/CLI/user/create.py
  SoftLayer/CLI/virt/create.py
  SoftLayer/managers/firewall.py
  SoftLayer/managers/hardware.py
  SoftLayer/managers/user.py
  SoftLayer/managers/vs.py
Labels: Core

#1172 Fix Issue #1162
  SoftLayer/managers/hardware.py
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: CLI
