Repository softlayer/softlayer-python, pull requests merged in 2020-02, with the labels that each got.

#1227 Py35fixes
  .travis.yml
  SoftLayer/CLI/user/permissions.py
Labels: Core

#1226 #1221 Added version checker
  SoftLayer/CLI/core.py
  tests/CLI/core_tests.py
Labels: CLI

#1225 add note about using multiple colon symbols
  docs/cli/hardware.rst
Labels: Documentation

#1228 Support Ordering Dependent Duplicate storage volumes
  CONTRIBUTORS
  SoftLayer/CLI/block/duplicate.py
  SoftLayer/CLI/file/duplicate.py
  SoftLayer/managers/block.py
  SoftLayer/managers/file.py
  SoftLayer/managers/storage_utils.py
  tests/CLI/modules/block_tests.py
  tests/CLI/modules/file_tests.py
  tests/managers/block_tests.py
  tests/managers/file_tests.py
Labels: Storage

#1223 #1222 load balancer by name
  SoftLayer/CLI/loadbal/list.py
  SoftLayer/fixtures/SoftLayer_Network_LBaaS_LoadBalancer.py
  SoftLayer/managers/load_balancer.py
  SoftLayer/utils.py
  tests/CLI/modules/loadbal_tests.py
  tests/managers/loadbal_tests.py
Labels: CLI
