Repository softlayer/softlayer-python, pull requests merged in 2020-03, with the labels that each got.

#1235 Issues1233 file and block refactor
  SoftLayer/CLI/block/detail.py
  SoftLayer/CLI/file/detail.py
  SoftLayer/fixtures/SoftLayer_Location_Datacenter.py
  SoftLayer/managers/block.py
  SoftLayer/managers/file.py
  SoftLayer/managers/storage.py
  SoftLayer/managers/storage_utils.py
  tests/CLI/modules/block_tests.py
  tests/CLI/modules/file_tests.py
  tests/managers/block_tests.py
  tests/managers/file_tests.py
  tests/managers/storage_utils_tests.py
Labels: Core, Storage

#1237 Fix order place bare metal capacity restriction.
  SoftLayer/managers/ordering.py
  tests/managers/ordering_tests.py
Labels: Ordering

#1238 Advanced filters
  SoftLayer/CLI/call_api.py
  docs/cli/commands.rst
  tests/CLI/modules/call_api_tests.py
Labels: CLI

#1244 Fixes unittests to work in pytest==5.4.1
  SoftLayer/CLI/call_api.py
  SoftLayer/CLI/deprecated.py
  SoftLayer/testing/__init__.py
  tests/CLI/deprecated_tests.py
Labels: Core

#1245 Issue1234
  SoftLayer/CLI/image/datacenter.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Virtual_Guest_Block_Device_Template_Group.py
  SoftLayer/managers/image.py
  tests/CLI/modules/image_tests.py
  tests/managers/image_tests.py
Labels: CLI

#1248 v5.8.6
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release

#1250 v5.8.7
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release
