Repository softlayer/softlayer-python, pull requests merged in 2020-08, with the labels that each got.

#1308 vs upgrade disk and add new disk
  SoftLayer/CLI/virt/upgrade.py
  SoftLayer/fixtures/SoftLayer_Virtual_Guest.py
  SoftLayer/managers/vs.py
  tests/CLI/modules/vs/vs_tests.py
Labels: CLI, Ordering

#1316 Support for STDIN on creating and updating tickets.
  SoftLayer/CLI/ticket/create.py
  SoftLayer/CLI/ticket/update.py
  docs/cli/tickets.rst
  tests/CLI/modules/ticket_tests.py
Labels: CLI

#1321 #1318 Add disk number to `slcli vs detail`
  SoftLayer/CLI/virt/detail.py
  SoftLayer/CLI/virt/storage.py
Labels: CLI

#1323 add vs list hardware and all option
  SoftLayer/CLI/virt/list.py
  tests/CLI/modules/vs/vs_tests.py
Labels: CLI

#1328 V5.9.0 Changelog
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release

#1327 fix the ha option firewall add and implement unit test
  SoftLayer/CLI/firewall/add.py
  SoftLayer/fixtures/SoftLayer_Product_Package.py
  tests/CLI/modules/firewall_tests.py
Labels: Bug

#1332 #1330 TOX fixes for the latest version
  SoftLayer/CLI/exceptions.py
  SoftLayer/CLI/formatting.py
  SoftLayer/CLI/hardware/dns.py
  SoftLayer/CLI/metadata.py
  SoftLayer/CLI/report/bandwidth.py
  SoftLayer/CLI/virt/dns.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/managers/ordering.py
  SoftLayer/managers/storage_utils.py
  SoftLayer/managers/vs_capacity.py
  SoftLayer/testing/__init__.py
  SoftLayer/transports.py
Labels: Core

#1329 Allow for calling BluemixPages and IntegratedOfferingTeam_Region services
  SoftLayer/API.py
  SoftLayer/fixtures/BluePages_Search.py
  tests/api_tests.py
Labels: API

#1331 implement unit test to classes not pass the coverage
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Network_Subnet.py
  SoftLayer/fixtures/SoftLayer_Network_Subnet_IpAddress.py
  SoftLayer/fixtures/SoftLayer_Network_Vlan.py
  SoftLayer/fixtures/SoftLayer_Network_Vlan_Firewall.py
  SoftLayer/fixtures/SoftLayer_Security_Certificate.py
  tests/CLI/modules/firewall_tests.py
  tests/CLI/modules/globalip_tests.py
  tests/CLI/modules/ssl_tests.py
  tests/CLI/modules/subnet_tests.py
  tests/CLI/modules/vlan_tests.py
  tests/CLI/modules/vs/vs_tests.py
Labels: Core

#1333 Set notes for network storage
  SoftLayer/CLI/block/detail.py
  SoftLayer/CLI/block/list.py
  SoftLayer/CLI/block/set_note.py
  SoftLayer/CLI/file/detail.py
  SoftLayer/CLI/file/list.py
  SoftLayer/CLI/file/set_note.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Network_Storage.py
  SoftLayer/managers/file.py
  SoftLayer/managers/storage.py
  docs/cli/block.rst
  docs/cli/file.rst
  tests/CLI/modules/block_tests.py
  tests/CLI/modules/file_tests.py
  tests/managers/block_tests.py
  tests/managers/file_tests.py
Labels: CLI

#1335 Some improvements to the dns commands
  SoftLayer/CLI/dns/record_list.py
  SoftLayer/CLI/dns/zone_list.py
  SoftLayer/fixtures/SoftLayer_Dns_Domain_ResourceRecord.py
  SoftLayer/managers/dns.py
  tests/CLI/modules/dns_tests.py
  tests/managers/dns_tests.py
Labels: CLI
