Repository softlayer/softlayer-python, pull requests merged in 2020-04, with the labels that each got.

#1254 added account billing-items/item-details/cancel-item commands
  .github/workflows/documentation.yml
  SoftLayer/CLI/account/billing_items.py
  SoftLayer/CLI/account/cancel_item.py
  SoftLayer/CLI/account/item_detail.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Billing_Item.py
  SoftLayer/managers/account.py
  SoftLayer/utils.py
  docCheck.py
  docs/cli/account.rst
  docs/cli/block.rst
  docs/cli/file.rst
  docs/cli/hardware.rst
  docs/cli/image.rst
  docs/cli/ipsec.rst
  docs/cli/loadbal.rst
  docs/cli/nas.rst
  docs/cli/vs.rst
  tests/CLI/modules/account_tests.py
  tests/managers/account_tests.py
  tools/test-requirements.txt
  tox.ini
Labels: CLI, New Feature

#1253 1239 VPN subnet access to a use
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/user/vpn_manual.py
  SoftLayer/CLI/user/vpn_subnet.py
  SoftLayer/fixtures/SoftLayer_Network_Service_Vpn_Overrides.py
  SoftLayer/fixtures/SoftLayer_User_Customer.py
  SoftLayer/managers/user.py
  docs/cli/users.rst
  tests/CLI/modules/user_tests.py
  tests/managers/user_tests.py
Labels: CLI, New Feature

#1251 implement the new feature hw billing and vs billing
  SoftLayer/CLI/hardware/billing.py
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/virt/billing.py
  docs/cli/hardware.rst
  docs/cli/vs.rst
  tests/CLI/modules/server_tests.py
  tests/CLI/modules/vs/vs_tests.py
Labels: CLI, New Feature

#1249 Storage feature for virtual and hardware servers
  SoftLayer/CLI/hardware/detail.py
  SoftLayer/CLI/hardware/storage.py
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/virt/detail.py
  SoftLayer/CLI/virt/storage.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Hardware_Server.py
  SoftLayer/fixtures/SoftLayer_Network_Storage_Iscsi.py
  SoftLayer/fixtures/SoftLayer_Virtual_Guest.py
  SoftLayer/managers/hardware.py
  SoftLayer/managers/vs.py
  docs/cli/hardware.rst
  docs/cli/vs.rst
  tests/CLI/modules/server_tests.py
  tests/CLI/modules/vs/vs_tests.py
  tests/managers/hardware_tests.py
  tests/managers/vs/vs_tests.py
Labels: CLI, New Feature

#1246 fix the issue 887
  SoftLayer/CLI/ticket/__init__.py
  SoftLayer/CLI/ticket/create.py
  SoftLayer/CLI/ticket/detail.py
  docs/cli/hardware.rst
  docs/cli/users.rst
  tests/CLI/modules/ticket_tests.py
Labels: CLI

#1256 Adding more github action tests, removing travis CI tests
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
  .travis.yml
  README.rst
  SoftLayer/CLI/ticket/__init__.py
  SoftLayer/CLI/ticket/detail.py
Labels: Core

#1261 Fix AttributeError: 'NoneType' object has no attribute 'keys
  SoftLayer/CLI/formatting.py
  tests/CLI/helper_tests.py
Labels: Bug

#1265 fixed pylint 2.5.0 errors
  SoftLayer/managers/dedicated_host.py
  SoftLayer/managers/hardware.py
  SoftLayer/managers/metadata.py
  SoftLayer/managers/vs_capacity.py
Labels: Core

#1264 Add Account planned, unplanned and announcement events.
  SoftLayer/CLI/account/events.py
  SoftLayer/managers/account.py
  tests/managers/account_tests.py
Labels: CLI

#1268 fix the isue 1262
  SoftLayer/managers/ordering.py
Labels: CLI

#1263 add the redundant/degraded option
  SoftLayer/CLI/hardware/edit.py
  SoftLayer/managers/hardware.py
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: CLI
