Repository softlayer/softlayer-python, pull requests merged in 2021-02, with the labels that each got.

#1411 Add pagination to object storage list accounts.
  SoftLayer/CLI/object_storage/list_accounts.py
  SoftLayer/managers/object_storage.py
Labels: CLI

#1415 Add username lookup to slcli object-storage credential
  SoftLayer/CLI/object_storage/credential/create.py
  SoftLayer/CLI/object_storage/credential/delete.py
  SoftLayer/CLI/object_storage/credential/limit.py
  SoftLayer/CLI/object_storage/credential/list.py
  SoftLayer/fixtures/SoftLayer_Network_Storage_Hub_Cleversafe_Account.py
  SoftLayer/managers/object_storage.py
  tests/CLI/modules/object_storage_tests.py
  tests/managers/object_storage_tests.py
Labels: CLI

#1418 Add IOPs data to slcli block volume-list.
  SoftLayer/CLI/block/list.py
  tests/CLI/modules/block_tests.py
Labels: CLI, Storage

#1421 Add 2FA and classic APIKeys fields to slcli user list as default values
  SoftLayer/CLI/user/list.py
  SoftLayer/fixtures/SoftLayer_Account.py
Labels: CLI

#1420 add a flags in the report bandwidth
  SoftLayer/CLI/config/setup.py
  SoftLayer/CLI/custom_types.py
  SoftLayer/CLI/report/bandwidth.py
  setup.py
  tests/CLI/modules/report_tests.py
Labels: CLI

#1422 Add the option network component by router to slcli hw create.
  SoftLayer/CLI/hardware/create.py
  SoftLayer/managers/hardware.py
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: CLI, Ordering

#1414 Add slcli vs create by router data.
  SoftLayer/CLI/virt/create.py
  SoftLayer/managers/vs.py
  tests/CLI/modules/vs/vs_create_tests.py
  tests/managers/vs/vs_tests.py
Labels: CLI, Ordering

#1427 Allow modifying Timeout for LoadBalancers
  SoftLayer/CLI/loadbal/pools.py
  SoftLayer/fixtures/SoftLayer_Network_LBaaS_LoadBalancer.py
  tests/CLI/modules/loadbal_tests.py
Labels: CLI
