Repository softlayer/softlayer-python, pull requests merged in 2021-03, with the labels that each got.

#1429 Add testing and support for python 3.9.
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.rst
  setup.py
  tests/CLI/modules/user_tests.py
  tools/test-requirements.txt
  tox.ini
Labels: Core

#1428 Checking for TermLength on prices
  SoftLayer/managers/ordering.py
  tests/managers/ordering_tests.py
Labels: Ordering

#1407 Adding disaster recovery failover api method
  SoftLayer/CLI/block/replication/disaster_recovery_failover.py
  SoftLayer/CLI/file/replication/disaster_recovery_failover.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Network_Storage.py
  SoftLayer/managers/storage.py
  docs/cli/block.rst
  docs/cli/file.rst
  tests/CLI/modules/block_tests.py
  tests/CLI/modules/file_tests.py
  tests/managers/block_tests.py
  tests/managers/file_tests.py
Labels: Storage

#1433 v5.9.3 Release notes and updates
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release

#1431 Refactor Ordering verify_quote method
  SoftLayer/managers/ordering.py
  tests/managers/ordering_tests.py
Labels: Ordering

#1432 Add routers for each DC in `slcli hw create-options`
  SoftLayer/CLI/hardware/create_options.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/managers/account.py
  tests/managers/account_tests.py
Labels: Ordering

#1435 Add preset datatype in `slcli virtual detail`
  SoftLayer/CLI/virt/detail.py
  SoftLayer/fixtures/SoftLayer_Virtual_Guest.py
Labels: CLI

#1437 Add upgrade option to slcli hw.
  SoftLayer/CLI/hardware/upgrade.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Hardware_Server.py
  SoftLayer/managers/hardware.py
  docs/cli/hardware.rst
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: Ordering

#1439 Authorize block and file storage to a hardware server
  SoftLayer/CLI/hardware/authorize_storage.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Hardware.py
  SoftLayer/managers/hardware.py
  docs/cli/hardware.rst
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: Storage

#1442 Add authorize block, file and portable storage to a vs.
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/virt/authorize_storage.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Virtual_Guest.py
  SoftLayer/managers/vs.py
  docs/cli/vs.rst
  tests/CLI/modules/vs/vs_tests.py
  tests/managers/vs/vs_tests.py
Labels: CLI
