Repository softlayer/softlayer-python, pull requests merged in 2021-04, with the labels that each got.

#1458 updated contributing guide
  CONTRIBUTING.md
Labels: Documentation

#1452 add the Hardware components on "slcli hardware detail"
  SoftLayer/CLI/hardware/detail.py
  SoftLayer/managers/hardware.py
Labels: CLI

#1451 Add slcli order quote-save
  SoftLayer/CLI/order/quote_save.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Billing_Order_Quote.py
  SoftLayer/managers/ordering.py
  docs/cli/ordering.rst
  tests/CLI/modules/order_tests.py
  tests/managers/ordering_tests.py
Labels: CLI, Ordering

#1447 IBMid Authentication support
  SoftLayer/API.py
  SoftLayer/CLI/config/setup.py
  SoftLayer/__init__.py
  SoftLayer/auth.py
  SoftLayer/config.py
  SoftLayer/consts.py
  SoftLayer/exceptions.py
  tests/CLI/modules/config_tests.py
Labels: CLI

#1446 add billing and lastTransaction on hardware detail
  SoftLayer/CLI/hardware/detail.py
  SoftLayer/managers/hardware.py
Labels: CLI

#1454 Forced reserved capacity guests to be monthly
  SoftLayer/CLI/virt/capacity/create_guest.py
  SoftLayer/managers/vs_capacity.py
  tests/managers/vs/vs_capacity_tests.py
Labels: Ordering

#1456 Removing the rwhois commands
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/rwhois/__init__.py
  SoftLayer/CLI/rwhois/edit.py
  SoftLayer/CLI/rwhois/show.py
  SoftLayer/managers/network.py
  docs/cli.rst
  docs/cli/rwhois.rst
  tests/CLI/modules/rwhois_tests.py
  tests/managers/network_tests.py
Labels: CLI

#1467 Added automation to publish to test-pypi
  .github/workflows/test_pypi_release.yml
  README.rst
  RELEASE.md
Labels: Core

#1469 Updating author_email to SLDN distro list
  setup.py
Labels: Documentation

#1455 Add the option to add and upgrade the hw disk.
  SoftLayer/CLI/hardware/upgrade.py
  SoftLayer/fixtures/SoftLayer_Hardware_Server.py
  SoftLayer/managers/hardware.py
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: Ordering

#1468 Added a utility to merge objectFilters,
  SoftLayer/utils.py
  tests/basic_tests.py
Labels: Core

#1460 Fixes shift+ins when pasteing into a password field for windows users.
  SoftLayer/CLI/environment.py
  tests/CLI/environment_tests.py
Labels: Bug, CLI

#1476 Fixing 'import mock' pylint issues
  .github/workflows/tests.yml
  SoftLayer/testing/__init__.py
  setup.py
  tests/CLI/core_tests.py
  tests/CLI/environment_tests.py
  tests/CLI/helper_tests.py
  tests/CLI/modules/autoscale_tests.py
  tests/CLI/modules/block_tests.py
  tests/CLI/modules/config_tests.py
  tests/CLI/modules/dedicatedhost_tests.py
  tests/CLI/modules/dns_tests.py
  tests/CLI/modules/file_tests.py
  tests/CLI/modules/firewall_tests.py
  tests/CLI/modules/globalip_tests.py
  tests/CLI/modules/loadbal_tests.py
  tests/CLI/modules/object_storage_tests.py
  tests/CLI/modules/securitygroup_tests.py
  tests/CLI/modules/server_tests.py
  tests/CLI/modules/sshkey_tests.py
  tests/CLI/modules/ssl_tests.py
  tests/CLI/modules/subnet_tests.py
  tests/CLI/modules/tag_tests.py
  tests/CLI/modules/ticket_tests.py
  tests/CLI/modules/user_tests.py
  tests/CLI/modules/vlan_tests.py
  tests/CLI/modules/vs/vs_create_tests.py
  tests/CLI/modules/vs/vs_placement_tests.py
  tests/CLI/modules/vs/vs_tests.py
  tests/api_tests.py
  tests/config_tests.py
  tests/decoration_tests.py
  tests/managers/dedicated_host_tests.py
  tests/managers/hardware_tests.py
  tests/managers/ipsec_tests.py
  tests/managers/network_tests.py
  tests/managers/ordering_tests.py
  tests/managers/user_tests.py
  tests/managers/vs/vs_capacity_tests.py
  tests/managers/vs/vs_order_tests.py
  tests/managers/vs/vs_placement_tests.py
  tests/managers/vs/vs_tests.py
  tests/managers/vs/vs_waiting_for_ready_tests.py
  tests/transport_tests.py
  tox.ini
Labels: Core

#1478 v5.9.4 Release Notes and Version bump
  .github/workflows/test_pypi_release.yml
  CHANGELOG.md
  SoftLayer/CLI/sshkey/add.py
  SoftLayer/consts.py
  setup.py
Labels: Release

#1479 Add image detail transaction data
  SoftLayer/CLI/image/__init__.py
  SoftLayer/CLI/image/detail.py
Labels: Bug, CLI
