Repository softlayer/softlayer-python, pull requests merged in 2022-09, with the labels that each got.

#1741 add vs user-access command
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/virt/access.py
  SoftLayer/fixtures/SoftLayer_Virtual_Guest.py
  SoftLayer/managers/vs.py
  docs/cli/vs.rst
  tests/CLI/modules/vs/vs_tests.py
  tests/managers/vs/vs_tests.py
Labels: CLI

#1748 Update Help message for commands that take in multiple arguments
  SoftLayer/CLI/block/access/authorize.py
  SoftLayer/CLI/file/access/authorize.py
Labels: Documentation

#1754 Unhandled error running a subcommand in slcli
  SoftLayer/CLI/object_storage/credential/__init__.py
  SoftLayer/CLI/virt/capacity/__init__.py
  SoftLayer/CLI/virt/placementgroup/__init__.py
Labels: CLI, Bug

#1755 v6.1.2 release notes
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release

#1756 New Command: Hardware notifications
  SoftLayer/CLI/hardware/add_notification.py
  SoftLayer/CLI/hardware/notifications.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_User_Customer_Notification_Hardware.py
  SoftLayer/managers/hardware.py
  docs/cli/hardware.rst
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: CLI

#1758 New Command: virtual notifications
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/virt/add_notification.py
  SoftLayer/CLI/virt/notifications.py
  SoftLayer/fixtures/SoftLayer_User_Customer_Notification_Virtual_Guest.py
  SoftLayer/managers/vs.py
  docs/cli/vs.rst
  tests/CLI/modules/vs/vs_tests.py
  tests/managers/vs/vs_tests.py
Labels: CLI, New Feature
