Repository softlayer/softlayer-python, pull requests merged in 2022-03, with the labels that each got.

#1592 Datacenter closure report
  SoftLayer/CLI/report/dc_closures.py
  SoftLayer/CLI/routes.py
  docs/cli/reports.rst
  tests/CLI/modules/report_tests.py
Labels: CLI

#1594 fix to errors in slcli hw create-options
  SoftLayer/managers/account.py
Labels: CLI

#1595 v6.0.0 release
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release

#1596 v6.0.1 Release
  .gitattributes
  .github/workflows/documentation.yml
  .github/workflows/test_pypi_release.yml
  .mailmap
  CHANGELOG.md
  SoftLayer/CLI/account/billing_items.py
  SoftLayer/CLI/account/cancel_item.py
  SoftLayer/CLI/autoscale/__init__.py
  SoftLayer/CLI/tags/__init__.py
  SoftLayer/CLI/tags/cleanup.py
  SoftLayer/CLI/tags/details.py
  SoftLayer/CLI/tags/list.py
  SoftLayer/CLI/tags/taggable.py
  SoftLayer/CLI/virt/migrate.py
  SoftLayer/consts.py
  SoftLayer/fixtures/BluePages_Search.py
  SoftLayer/fixtures/SoftLayer_Hardware.py
  SoftLayer/fixtures/SoftLayer_Search.py
  SoftLayer/fixtures/SoftLayer_Tag.py
  SoftLayer/managers/tags.py
  docCheck.py
  docs/cli/nas.rst
  docs/cli/tags.rst
  setup.py
  tests/CLI/modules/tag_tests.py
  tests/managers/tag_tests.py
Labels: Release

#1593 New Command slcli hardware|virtual monitoring
  SoftLayer/CLI/hardware/monitoring.py
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/virt/monitoring.py
  SoftLayer/fixtures/SoftLayer_Hardware_Server.py
  SoftLayer/fixtures/SoftLayer_Virtual_Guest.py
  SoftLayer/managers/hardware.py
  SoftLayer/managers/vs.py
  docs/cli/hardware.rst
  docs/cli/vs.rst
  tests/CLI/modules/server_tests.py
  tests/CLI/modules/vs/vs_tests.py
Labels: CLI, New Feature

#1597 When listing datacenters/pods, mark those that are closing soon.
  SoftLayer/CLI/hardware/create_options.py
  SoftLayer/CLI/order/package_locations.py
  SoftLayer/CLI/virt/create_options.py
  SoftLayer/managers/network.py
  tests/CLI/modules/order_tests.py
Labels: CLI

#1607 Version to 6.0.2, locked click to 8.0.4 for now
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
  tools/requirements.txt
  tools/test-requirements.txt
Labels: Core, Release

#1605 slcli licenses is missing the help text
  SoftLayer/CLI/licenses/__init__.py
Labels: CLI

#1600 Add a warning if user orders in a POD that is being closed
  SoftLayer/CLI/hardware/create.py
  SoftLayer/CLI/order/place.py
  SoftLayer/CLI/virt/create.py
  tests/CLI/modules/order_tests.py
  tests/CLI/modules/server_tests.py
Labels: CLI
