Repository softlayer/softlayer-python, pull requests merged in 2022-02, with the labels that each got.

#1578 Add pricing date to slcli order preset-list
  SoftLayer/CLI/order/preset_list.py
  SoftLayer/fixtures/SoftLayer_Product_Package.py
  SoftLayer/managers/ordering.py
  tests/CLI/modules/order_tests.py
Labels: CLI, Ordering

#1579 Bandwidth pool features
  SoftLayer/CLI/account/bandwidth_pools.py
  SoftLayer/CLI/report/bandwidth.py
  SoftLayer/CLI/routes.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/fixtures/SoftLayer_Network_Bandwidth_Version1_Allotment.py
  SoftLayer/managers/account.py
  docs/cli/account.rst
  tests/CLI/modules/account_tests.py
  tests/CLI/modules/report_tests.py
  tests/managers/account_tests.py
Labels: CLI

#1580 v5.9.9 changelog and updates
  CHANGELOG.md
  SoftLayer/consts.py
  setup.py
Labels: Release

#1584 Replace the use of ptable with prettytable
  README.rst
  SoftLayer/CLI/formatting.py
  setup.py
  tools/requirements.txt
  tools/test-requirements.txt
Labels: Core
