Repository softlayer/softlayer-python, pull requests merged in 2023-08, with the labels that each got.

#2056 Example and sub feature for slcli firewall monitoring, slcli globalip specific commands #2033
  SoftLayer/CLI/firewall/monitoring.py
  SoftLayer/CLI/globalip/assign.py
  SoftLayer/CLI/globalip/cancel.py
  SoftLayer/CLI/globalip/create.py
  SoftLayer/CLI/globalip/list.py
  tests/CLI/modules/globalip_tests.py
Labels: CLI

#2059 Feature added in slcli block snapshot-cancel, Text updated in slcli block snapshot-enable
  SoftLayer/CLI/block/snapshot/cancel.py
  SoftLayer/CLI/block/snapshot/enable.py
  tests/managers/block_tests.py
Labels: CLI

#2063 Example for slcli block volume-modify, slcli block volume-options #2017
  SoftLayer/CLI/block/modify.py
  SoftLayer/CLI/block/options.py
Labels: CLI

#2064 Example for slcli dedicatedhost create-options, slcli dns import, slcli dns record-edit command #2021
  SoftLayer/CLI/dedicatedhost/create_options.py
  SoftLayer/CLI/dns/record_edit.py
  SoftLayer/CLI/dns/zone_import.py
Labels: CLI

#2065 Example for slcli dns zone-create, slcli dns record-list, slcli dns record-remove command #2022
  SoftLayer/CLI/dns/record_list.py
  SoftLayer/CLI/dns/record_remove.py
  SoftLayer/CLI/dns/zone_create.py
Labels: CLI

#2067 Example for slcli file access-authorize, slcli file access-list, slcli file access-revoke command #2024
  SoftLayer/CLI/file/access/authorize.py
  SoftLayer/CLI/file/access/list.py
  SoftLayer/CLI/file/access/revoke.py
Labels: CLI

#2068 Example for slcli file disaster-recovery-failover, slcli file replica-failback, slcli file replica-failover, slcli file replica-locations #2025
  SoftLayer/CLI/file/replication/disaster_recovery_failover.py
  SoftLayer/CLI/file/replication/failback.py
  SoftLayer/CLI/file/replication/failover.py
  SoftLayer/CLI/file/replication/locations.py
Labels: CLI

#2073 Added new slcli user vpn-disable and slcli user vpn-enable command
  SoftLayer/CLI/routes.py
  SoftLayer/CLI/user/vpn_enable_or_disable.py
  SoftLayer/managers/user.py
  docs/cli/users.rst
  tests/CLI/modules/user_tests.py
Labels: New Feature

#2070 Enable all user permissions doesn't get all permissions
  SoftLayer/CLI/user/permissions.py
  tests/managers/user_tests.py
Labels: Bug

#2075 slcli file snapshot-list, snapshot-order, snapshot-restore command example addition #2028
  SoftLayer/CLI/file/snapshot/list.py
  SoftLayer/CLI/file/snapshot/order.py
  SoftLayer/CLI/file/snapshot/restore.py
Labels: CLI

#2074 added Example for slcli file snapshot-create, slcli file snapshot-disable, slcli file snapshot-enable
  SoftLayer/CLI/file/snapshot/create.py
  SoftLayer/CLI/file/snapshot/disable.py
  SoftLayer/CLI/file/snapshot/enable.py
Labels: CLI

#2072 slcli ticket list command with user limit option #2049
  SoftLayer/CLI/ticket/list.py
  SoftLayer/managers/ticket.py
  tests/CLI/modules/ticket_tests.py
Labels: Bug

#2083 added example in order, partners and cancel in file, added force and unit test cases in order, cancel commands.
  SoftLayer/CLI/file/replication/order.py
  SoftLayer/CLI/file/replication/partners.py
  SoftLayer/CLI/file/snapshot/cancel.py
  tests/CLI/modules/file_tests.py
Labels: CLI

#2080 Added example in slcli loadbal health, slcli loadbal l7policies, slcli loadbal l7pool-add
  SoftLayer/CLI/loadbal/health.py
  SoftLayer/CLI/loadbal/layer7_policy_list.py
  SoftLayer/CLI/loadbal/pools.py
Labels: CLI

#2079 slcli ipsec cancel, ipsec list, loadbal cancel command missing feature fix #2042
  SoftLayer/CLI/loadbal/order.py
  SoftLayer/CLI/vpn/ipsec/cancel.py
  SoftLayer/CLI/vpn/ipsec/list.py
Labels: CLI

#2077 Added force flag and unit test cases in slcli hardware cancel, slcli hardware create
  SoftLayer/CLI/hardware/cancel.py
  SoftLayer/CLI/hardware/create.py
  tests/CLI/modules/server_tests.py
  tests/managers/hardware_tests.py
Labels: CLI
