Repository softlayer/softlayer-python, pull requests merged in 2023-07, with the labels that each got.

#2006 Added blank value if it is empty when "Deletion Scheduled" to bandwidth pools and pool-details
  SoftLayer/CLI/bandwidth/pools.py
  SoftLayer/CLI/bandwidth/pools_detail.py
  SoftLayer/fixtures/SoftLayer_Account.py
  SoftLayer/managers/account.py
Labels: New Feature

#2004 block volume-list errors for this issue #1732
  SoftLayer/fixtures/SoftLayer_Network_Storage.py
  tests/CLI/modules/block_tests.py
Labels: Bug

#2001 slcli image list should use an iterative cal
  SoftLayer/CLI/image/list.py
  SoftLayer/managers/image.py
Labels: API, Core

#2008 Multithreading implementation for slcli bandwidth pools command
  SoftLayer/CLI/bandwidth/pools.py
  tests/CLI/modules/bandwidth_tests.py
Labels: New Feature

#2009 Removed Deduplicate code in LB of protocol edit cli commands for Issue 2003
  SoftLayer/CLI/loadbal/protocol_edit.py
Labels: CLI

#2011 slcli search command help/abort message when no option provided
  SoftLayer/CLI/search.py
  tests/CLI/modules/search_tests.py
Labels: Bug

#2045 moved cliChecker folder to softlayer-python folder because new changes are not picking up
  checker.py
  checker_README.md
  output.txt
Labels: CLI

#2053 Example text added in slcli block access-authorise, slcli block access-list, slcli block access-revoke, slcli block disaster-recovery-failover
  SoftLayer/CLI/block/access/authorize.py
  SoftLayer/CLI/block/access/list.py
  SoftLayer/CLI/block/access/revoke.py
  SoftLayer/CLI/block/duplicate_convert_status.py
  SoftLayer/CLI/block/replication/disaster_recovery_failover.py
Labels: CLI

#2048 added Description of Example
  SoftLayer/CLI/block/refresh.py
  SoftLayer/CLI/block/set_note.py
Labels: CLI

#2047 Fixed Description and some features are missing in slcli block snapshot-set-notification, slcli block subnets-assign, slcli block subnets-list, slcli block subnets-remove
  SoftLayer/CLI/block/snapshot/set_notify_status.py
  SoftLayer/CLI/block/subnets/assign.py
  SoftLayer/CLI/block/subnets/list.py
  SoftLayer/CLI/block/subnets/remove.py
Labels: CLI

#2052 --force option for slcli firewall add, firewall cancel command - issue #2032
  SoftLayer/CLI/file/list.py
  SoftLayer/CLI/file/modify.py
  SoftLayer/CLI/file/options.py
  SoftLayer/CLI/firewall/add.py
  SoftLayer/CLI/firewall/cancel.py
  tests/CLI/modules/file_tests.py
  tests/CLI/modules/firewall_tests.py
Labels: CLI

#2055 Example and sub feature for slcli file volume-order, volume-refresh, volume-set-note command #2031
  SoftLayer/CLI/file/order.py
  SoftLayer/CLI/file/refresh.py
  SoftLayer/CLI/file/set_note.py
Labels: CLI

#2054 Sub features and Example were missing in slcli cdn edit, slcli cdn origin-add
  SoftLayer/CLI/cdn/edit.py
  SoftLayer/CLI/cdn/origin_add.py
  SoftLayer/fixtures/SoftLayer_Network_CdnMarketplace_Configuration_Mapping_Path.py
  SoftLayer/managers/cdn.py
  tests/CLI/modules/cdn_tests.py
  tests/managers/cdn_tests.py
Labels: CLI
